@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #00BFA6;
  --gray-color: #9CA3AF;
  --light-gray: #F3F4F6;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  
  
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 0.4rem;
  border-bottom-left-radius: 1rem;
  
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .nav-pills{
  text-align: right;

}

.navigation .link{
  color:white;
}

.navigation .link-active {
  font-weight: bold;
}






/* @media only screen and (max-width: 620px) { */
  /* For mobile phones: */




.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.secondary-link {
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display:inline;
  padding: 0rem 0.5rem;
}


.hero {
  padding: 2rem;
  padding-top: 5rem;
  
}

.hero .hero-img {
  max-width: 500px;
  display: block;
  margin: auto;
}


.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--gray-color);
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

.section {
  padding: 2rem;

}

.section h1{
  text-align: center;
}

.ow {
  background-color: var(--light-gray);
}

.text {
  color: var(--primary-color);
}

.container {
  overflow-wrap: break-word;
}

.container-center {
  max-width: 400px;
  margin: auto;
}

.main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  
  
}

.footer .footer_link {
  color: white;
  text-decoration: none;
}

.footer .footer-header {
  font-weight: bold;
  font-size: 18px;
}

.footer ul {
  padding-inline-start: 0px;
}

@media only screen and (max-width: 700px) {

  .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.3rem;
    border-bottom-left-radius: 1rem;
    
  }

  .navigation .nav-brand {
    font-weight: bold;
    font-size: 15px;
  }
  .hero .hero-heading {
    font-size: 18px;
  }

  .hero .hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
  }

  .link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 12px;;
  }
  
  .secondary-link {
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 4px 10px;
  }

  .main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    height: 6vh;
    
    
  }

  .footer .footer_link {
    color: white;
    text-decoration: none;
  }
  
  .footer .footer-header {
    font-weight: bold;
    font-size: 15px;
  }
  
  .footer ul {
    padding-inline-start: 0px;
  }
  .list-item-inline {
    font-size: 11px;
  }

  .wrapper {
    font-size: 12px;
  }
  .text {
    font-size: 15px;
    color: var(--primary-color);
  }


}